<div class="box">
    <h2 class="title">{{ data[0].title }}</h2>
    <span class="summary">Officia tempor nisi aliqua dolore est fugiat incididunt incididunt voluptate elit do ut dolor.</span>
    <div class="info">
        <div class="picture author">
            <figure>
                {% for key, item in data[0].expertos %}
                    <img src="{{ item.picture_uri }}" alt="{{ item.name_author }}">
                {% endfor %}
            </figure>
        </div>

        <div class="time">
            <time class="hour">{{ data[0].horas }} horas</time>
            <time class="date">Inicio: {{ data[0].fecha_inicio }}</time>
        </div>

        <div class="capacity">
            <div class="module">
                <span> {{ data[0].cnt_moulos }} Módulos</span>
            </div>
            <div class="students">
                <span>{{ data[0].cnt_alumnos }} Alumnos</span>
            </div>
        </div>
        
        <div class="language-rating">
            <div class="language">
                <span>Español</span>
            </div>
            <div class="rating">
                {{ drupal_field('field_calificacion', 'node',  data[0].nid) }}
            </div>
        </div>
    
    </div>
</div>