
<div class="image-logo">
    <figure>
        <img src="{{ file_url(general_logo) }}">
    </figure>
</div>
<div class="login-form login-form__wrapper">
    <form{{ attributes }}>
        <div class="login-form__top">
            <h3>{{ '¡Hola!'|t }}</h3>
            <p class="message_login"> {{ 'Ingresa tus datos de acceso para iniciar sesión'|t }} </p>
            <div id="error_messages">{{ element.messages }}</div>
            <div class="input-form">
                {{ element.name }} {# username element #}
                {{ element.pass }} {# password element #}
            </div>
            <div class="login-form__help_actions forgot-password">
                <a href="/user/password" class="forgot-password">{{ '¿Olvidaste tu contraseña?'|t }}</a>
            </div>
            {{ element.form_build_id }} {# required #}
            {{ element.form_id }} {# required #}
            <div class="login-form__submit">
                {{ element.actions.submit }}
            </div>
        </div>
        <div class="login-form__bottom">
            <h4 class="register">{{ '¿No tienes una cuenta?' }}</h4>
            <div class="login-form__help_actions register">
                <a href="/user/register" class="register">{{ 'Regístrate aquí'|t }}</a>
            </div>
        </div>
    </form>
</div>